header{
    width:100%;
    height:100px;
    display:flex;
    position:sticky;
    top: 0;
}

.naslov{
    font-size: 70px;
    font-weight: bolder;
    display: flex;
    align-self: center;
}